<div class="d-flex bd-highlight" style="background-color: #F5F5F5;">
  <app-user-info-card [userData]="userData"></app-user-info-card>

  <div class="p-2 flex-grow-1 bd-highlight">
    <mat-card>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Wits">
          <app-user-wits
            [userWits]="userWits"
            [userData]="userData"
            (refreshLikedWits)="getLikedWits()"
            (refreshWits)="getUserWits()"
          ></app-user-wits>
        </mat-tab>

        <mat-tab label="Likes">
          <app-user-likes
            [likedWits]="likedWits"
            [userData]="userData"
            (refreshLikedWits)="getlikedWits()"
            (refreshWits)="getUserWits()"
          ></app-user-likes>
        </mat-tab>

        <mat-tab label="Followers">
          <app-user-followers></app-user-followers>
        </mat-tab>

        <mat-tab label="Following">
          <app-user-following></app-user-following>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
