<div class="d-flex bd-highlight" style="background-color: #F5F5F5;">
    <div class="p-2 bd-highlight">
            <mat-card>

            <div class="d-flex flex-row align-items-center">
                    <mat-card-title-group>
                            <mat-list>
                            <div mat-card-avatar class="profile-picture"></div><br/>
                            <mat-card-title *ngIf="userData">{{
                              userData[0]?.username
                            }}</mat-card-title>
                            <mat-card-subtitle *ngIf="userData">{{
                              userData[0]?.age
                            }}</mat-card-subtitle>

                            <button mat-raised-button color="primary">
                              Follow
                            </button> &nbsp;&nbsp;
                            <button 
                            (click) = openEditDialog()
                            mat-stroked-button color="primary"
                            matTooltip="Click to edit your profile">
                            Edit Profile</button><br/><br/>

                            <mat-divider></mat-divider>
                            <mat-list-item><button  mat-button color="primary" *ngIf="userData">Followers {{userData[0]?.followers}}</button></mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><button  mat-button color="primary" *ngIf="userData">Following {{userData[0]?.following}}</button></mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><button  mat-button color="primary">Likes #</button></mat-list-item>
                            <mat-list-item><button  mat-button color= "primary" *ngIf="userData">Wits # {{userData[0]?.Wits}}</button></mat-list-item>
                          </mat-list>

                    </mat-card-title-group>
            </div>

        </mat-card>

    </div>
    
    <div class="p-2 flex-grow-1 bd-highlight">

   <!-- here layed the witbox from the timeline, won't be needed on the profile interface -->
   
      <mat-card class="witFormat" *ngFor="let wit of userWits">
        <mat-card-content class="d-flex flex-row align-items-start">
          <div
            mat-card-avatar
            class="profile-picture profile-picture-wit mr-3"
          ></div>
          <div class="d-flex flex-grow-1 flex-column">
            <div class="d-flex flex-row justify-content-between">
              <mat-card-title>{{ wit.username }}</mat-card-title>
              <div class="text-muted">{{ wit.time }}</div>
            </div>
            <div>{{ wit.wit }}</div>
            <div class="d-flex flex-row">
              
              <!-- The List of Likes Button -->
              <button
                mat-button
                (click)="openDialog(wit)"
                class="d-flex align-items-center justify-content-between"
                matTooltip="Click to see who liked your post!"
              >
                <fa-icon [icon]="faThumbsUp"></fa-icon>
                <span class="mx-2">{{ wit.numOfLikes }} </span>
              </button>
            <!-- The Trash Button  -->
              <button 
              mat-button 
              color="none"
              (click)="deleteWit(wit)"
            >
              <fa-icon
                [icon]="faTrashAlt"
              ></fa-icon>
            </button>
            </div>
          </div>
        </mat-card-content>
        <div></div>
      </mat-card>
    </div>    

</div>