<div class="d-flex bd-highlight" style="background-color: #F5F5F5;">
    <div class="p-2 bd-highlight">

            <mat-card>
            <div class="d-flex flex-row align-items-center">
                    <mat-card-title-group>
                            <mat-list>
                            <div mat-card-avatar class="profile-picture"></div>
                            <mat-card-title>Name</mat-card-title>
                            <mat-card-subtitle>@username</mat-card-subtitle>
                            <mat-card-content>Age</mat-card-content>
                            <mat-list-item>Followers</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Following</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Likes</mat-list-item>
                            <mat-divider></mat-divider>
                          </mat-list>

                    </mat-card-title-group>
            </div>

        </mat-card>


















    </div>
</div>