<div style="background-color: #F5F5F5; padding: 100px;">
  <div class="container">
    <form
      class="container d-flex align-items-center justify-content-center flex-column forget"
    >
      <h1 style="padding: 25px;">Recover Password</h1>
      <div class="form-group inp">
        <label for="exampleInputEmail1" >Enter your email and we'll email you a link to recover your password.</label>
        

<br>
        <!-- the registerUser function that is suppose to be assigned to the ngModel, is supposed to be input to grasp the email address -->
        <input
          class="form-control"
          id="exampleInputEmail"
          aria-describedby="emailHelp"
          placeholder="Email Address"
          required
        />
      </div>
      
   

     
      <button
       
        type="submit"
        class="btn btn-primary inp inp-btn"
      >
        Submit
      </button>



    </form>
  </div>
</div>
