<div class="example-large-box mat-elevation-z4">
  <mat-card class="witFormat" *ngFor="let follower of listOfFollowers">
    <mat-card-content class="d-flex flex-row align-items-center">

      <div
        class="d-flex justify-content-between justify-content-between flex-grow-1"
      >
        <mat-card-title>{{ follower.follow_name }}</mat-card-title>
        <!-- The List of Following Button -->

        <button
          mat-button
          (click)="openDialogFollowing(follower.follow_name)"
          class="d-flex align-items-center justify-content-between"
          matTooltip="Click to see who this user is following!"
        >
          <fa-icon [icon]="faAddressBook"></fa-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
