<div style="background-color: #F5F5F5; padding: 100px;">
  <div class="container">
    <form
      class="container d-flex align-items-center justify-content-center flex-column login"
    >
      <h1 style="padding: 25px;">Welcome to Witwit</h1>
      <div class="form-group inp">
        <label for="exampleInputEmail1">Username</label>
        <input
          [(ngModel)]="logUser.email"
          type="name"
          name="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Username"
        />
      </div>
      <div class="form-group inp">
        <label for="exampleInputPassword1">Password</label>
        <input
          [(ngModel)]="logUser.password"
          name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <button
        (click)="loginUser()"
        type="submit"
        class="btn btn-primary inp inp-btn"
      >
        Log in
      </button>
      <div style="float: left; padding-top: 10px;">
        <a
          style="font-size: 14px; padding-top: 10px; color: #673ab7"
          href="/forget"
          >Forgot password?</a
        >
        &bull;
        <a
          style="font-size: 14px; padding-top: 10px; color: #673ab7"
          href="/register"
          >Register</a
        >
      </div>
    </form>
  </div>
</div>
