<div class="d-flex flex-grow-1 align-items-center">
  <h3 class="d-flex flex-grow-1">Settings</h3>
  <fa-icon (click)="close()" style="cursor: pointer" [icon]="faTimes" ></fa-icon>
</div>


<form [formGroup]="editProfileForm" class="container d-flex align-items-center justify-content-center flex-column login">
    <h2 style="padding: 25px;">Edit Profile</h2>
    <p>Change your basic account information and privacy settings</p>
    <div class="form-group inp">
      <label for="exampleInputEmail1">New Username</label>
      <input type="text"
             name="username"
             class="form-control"
             formControlName="username"
             id="exampleInputEmail1"
             aria-describedby="emailHelp"
             placeholder="Username"
             [(ngModel)]="registeredUser.username"
             [ngClass]="{ 'is-invalid': submitted && g.username.errors }" />
      <div *ngIf="submitted && g.username.errors" class="invalid-feedback">
        <div *ngIf="g.username.errors.required">Username is required</div>
      </div>
    </div>
 </form>


<div mat-dialog-actions class ="d-flex justify-content-end">
    <button class = "btn btn-primary inp-btn size" >Save</button>
    &nbsp;&nbsp;&nbsp;
  <button mat-stroked-button (click)="close()" class ="size">Cancel</button>
 
</div>