/*--
--*/
/* reset */
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}*/
/* start editing from here */
a{text-decoration:none;}


.clear{clear:both;}/* clear float */
img{max-width:10%;}
/*end reset*/
html, body{
	width: 60%;
	background:#374585;
	font-family: 'Cabin', sans-serif;
	background: url(../../img/avatar1.jpg) no-repeat 0px 0px;
}
h2,h3,h4,h5,h6,input,p,a{
	font-family: 'Cabin', sans-serif;
	margin:0;
}
.profile-picture {
    height: 6%;
    width: 6%;
    border-radius: 25px;
    /* background-image: url('./assets/images/placeholders/profile-placeholder.png'); */
    background-size: cover;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a{
	text-decoration:none;
}
/*-- main --*/
.wthree_footer_copy p{
	font-size: 14px;
    color: #fff;
    margin: 3em 0 0;
    line-height: 1.8em;
    text-align: center;
    padding: 0 1em;
}
.wthree_footer_copy p a{
	color:#fff;
	text-decoration:none;
}
.wthree_footer_copy p a:hover{
	color:#ffd71e;
}
input[type="submit"],.wthree_footer_copy p a,.top-nav ul li a,.agile_main_grid_left2 h3 a,.agile_main_grid_left2_grid_bottom a{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
.main{
	padding:4em 0;
}
.box{
	margin-top: 1%;
}
.main h1{
	text-align:center;
	color:#fff;
	font-size:2.5em;
	margin-bottom:1.5em;
}
.agile_main_grid{
	width:35%;
	margin:0 auto;
}
.agile_main_grid_left{
	position: relative;
}
/*-- //menu --*/
.agile_main_grid_left1{
	padding:1em 0;
	background:#ed4406;
	text-align:center;
}
.agile_main_grid_left1 h2{
	font-size:1.3em;
	color:#fff;
}
.agile_main_grid_left2{
	padding:2em;
	text-align:center;
	background:#fff;
	border-style: solid;
	border-color: #673ab7;
	border-radius: 25px;
	border-width: 5px;
}
.agile_main_grid_left2 h3{
	margin:1em 0 0.5em;
	font-size:1.1em;
	color:#212121;
}
.agile_main_grid_left2 h3 a{
	color:#999;
	text-decoration:none;
}
.agile_main_grid_left2 h3 a:hover{
	color:#ed4406;
}

.agile_main_grid_left2_grid{
	padding:1.5em 0 2em;
	margin:0%;
}
.agile_main_grid_left2_grid_left{
	float:left;
	width:33%;
}
.agile_main_grid_left2_grid_left:nth-child(2){
	border-left:1px solid #999;
	border-right:1px solid #999;
}
.agile_main_grid_left2_grid_left h4{
	font-size:1.2em;
	color:#999;
}
/*-- w3layouts --*/
.agile_main_grid_left2_grid_left h5{
	font-size:1.5em;
	color:#212121;
	font-weight:bold;
}
.agile_main_grid_left2_grid_bottom{
    width: 20%;
    margin: 0 auto;
}
.agile_main_grid_left2_grid_bottom a{
	padding:10px 0px;
	color:#fff;
	font-size:1em;
	background:#673ab7;
	border-radius:25px;
	display:block;
}

.agile_main_grid_left2_grid_bottom a:active{
	background: #ffd71e;
	color:#212121;
}



.agile_main_grid_left2_grid_bottom a:hover{
	background: #ffd71e;
	color:#212121;
}

/* Browser Resets */


/* Chrome, Safari, Opera */
@-webkit-keyframes follow-animation {
	from {background: white; color: #3399FF; width: 130px; left: 95px;}
	to {background: #2EB82E; border-color: #2EB82E; color: #ffffff; width: 165px; left: 400px;}
  }
  @-webkit-keyframes unfollow-animation {
	from {background: #2EB82E; color: #ffffff; width: 165px; left: 80px;}
	to {background: white; border-color: #3399FF; color: #3399FF; width: 130px; left: 95px;}
  }
  
  /* Standard syntax */
  @keyframes follow-animation {
	from {background: white; color: #3399FF; width: 130px; left: 95px;}
	to {background: #2EB82E; border-color: #2EB82E; color: #ffffff; width: 165px; left: 80px;}
  }
  @keyframes unfollow-animation {
	from {background: #2EB82E; color: #ffffff; width: 165px; left: 80px;}
	to {background: white; border-color: #3399FF; color: #3399FF; width: 130px; left: 95px;}
  }
  
  input {
	-webkit-appearance: none;
  }
  
  input:after {
	color: rgb(97, 51, 250);
	font-family: "Helvetica";
	font-size: 14pt;
	background-color: #ffffff;
	border: 1px solid;
	border-color: rgb(133, 51, 255);
	border-radius: 20px;
	position:absolute;
	top: 60px;	
	cursor: hand;
	display: inline-block;
	text-align: center;
	padding: 5px 12px;
  }
  

	button {
		border-radius: 20px;
		margin: 5px;
	}

	.follow {
		animation: follow-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		animation-fill-mode:forwards;
	}

	.unfollow {
		animation: unfollow-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		animation-fill-mode:forwards;
	}











/*------TRY 1-----*/
/*
.container {
    margin: 20px;
}

.btn {
	padding:10px 0px;
	color:#fff;
	font-size:1em;
	background:#673ab7;
	border-radius:25px;
	display:block;
    
}


.btn:hover {
	background: #ffd71e;
	color:#212121;
}
.btn:active{
	background: #00a241;
	color:#212121;
}

.btn:focus {
    outline: none;
	border-color:#00a241;
	background: #00a241;
}

*/
/* Follow Button Styles */
/*
button.followButton{
    width:300px;
}
button.followButton.following{
    background-color: #57A957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57A957 #57A957 #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#fff;
}
button.followButton.unfollow{
    background-color: #C43C35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #C43C35 #C43C35 #882A25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
*/





