<div class="d-flex flex-grow-1 align-items-center">
  <h5 class="d-flex flex-grow-1">Settings</h5>
  <fa-icon (click)="close()" style="cursor: pointer" [icon]="faTimes" ></fa-icon>
</div>
<div>
    <h2 style="padding: 25px;">Edit Profile</h2>
    <p>Change your basic account information and privacy settings</p>
</div>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content>
<form [formGroup]="editProfileForm" >
  <!-- username form -->
    <div class="form-group row">
      <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input type="text"
        name="username"
        class="form-control inp"
        formControlName="username"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Username"
        [(ngModel)]="user.username"
        [ngClass]="{ 'is-invalid': submitted && control.username.errors }" >
      </div>
    </div>
    <div *ngIf="submitted && control.username.errors" class="invalid-feedback">
        <div *ngIf="control.username.errors.required">Username is required</div>
    </div>

<!-- age form -->
<div class="form-group row">
    <label for="exampleInputAge" class="col-sm-2 col-form-label">Age</label>
    <div class="col-sm-10">
        <input type="number"
        name="age"
        class="form-control inp"
        formControlName="age"
        id="exampleInputAge"
        placeholder="Age"
        [(ngModel)]="user.age"
        [ngClass]="{ 'is-invalid': submitted && control.age.errors }" />
 <div *ngIf="submitted && control.age.errors" class="invalid-feedback">
   <div *ngIf="control.age.errors.required">Age is required</div>
 </div>
    </div>
  </div>

<!-- email form -->
<div class="form-group row">
    <label for="exampleInputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text"
      name="email"
      class="form-control inp"
      formControlName="email"
      id="exampleInputEmail"
      aria-describedby="emailHelp"
      placeholder="Email"
      [(ngModel)]="user.email"
      [ngClass]="{ 'is-invalid': submitted && control.email.errors }" >
    </div>
  </div>
  <div *ngIf="submitted && control.email.errors" class="invalid-feedback">
      <div *ngIf="control.email.errors.required">Password is required</div>
      <div *ngIf="control.email.errors.minLength">Password must be at least 6 characters</div>
    </div>

<!-- profile picture button -->
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Privacy</legend>
        <div class="col-sm-10">
        <!--  <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              Public
            </label>
          </div> -->
          <!--<div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Private
            </label>
          </div>-->
        </div>
      </div>
    </fieldset>


  </form>
  </div>

<mat-divider></mat-divider>
<p></p>
<div mat-dialog-actions class ="d-flex bd-highlight align-items-end">
   <button mat-stroked-button (click)="passwordDialog()" class ="mr-auto bd-highlight height">Reset Password</button>
    <button (click)= "changeInfo()" class = "btn btn-primary inp-btn size bd-highlight height" >Save</button>
    &nbsp;&nbsp;&nbsp;
  <button mat-stroked-button (click)="close()" class ="bd-highlight size height">Cancel</button>

</div>
