<div *ngIf="likedWits">
  <mat-card class="witFormat" *ngFor="let witLiked of likedWits" (click)="openDialogReplies(witLiked)" class="wit-wrapper">
    <mat-card-content class="d-flex flex-row align-items-start">
     
      <app-profile-picture [user]="witLiked"></app-profile-picture>

      <div class="d-flex flex-grow-1 flex-column">
        <div class="d-flex flex-row justify-content-between">
          <mat-card-title>{{ witLiked.username }}</mat-card-title>
          <div class="text-muted">{{ witLiked.time }}</div>
        </div>
        <div>{{ witLiked.wit }}</div>

        <div class="d-flex flex-row">
          <button
            *ngIf="witLiked.username !== userLoggedIN?.userLoggedIN"
            mat-button
            color="none"
            (click)="checkLikeSection(witLiked)"
            (click)="stopPropagation($event)"
          >
            <fa-icon
              *ngIf="witLiked.boolValueUser === 0"
              [icon]="faHeart"
            ></fa-icon>
            <fa-icon
              *ngIf="witLiked.boolValueUser === 1"
              [icon]="faHeartBroken"
            ></fa-icon>
            <span> {{ witLiked.numOfLikes }} </span>
          </button>
          <button
            mat-button
            (click)="openDialogLikes(witLiked)"
            (click)="stopPropagation($event)"
            class="d-flex align-items-center justify-content-between"
            matTooltip="Click to see who liked your post!"
          >
            <fa-icon [icon]="faThumbsUp"></fa-icon>
            <span class="mx-2">{{ witLiked.numOfLikes }} </span>
          </button>
          <!-- Trash Button -->
          <button
            *ngIf="witLiked.username == userLoggedIN[0]?.username"
            mat-button
            color="none"
            (click)="stopPropagation($event)"
            (click)="deleteWit(witLiked)"
          >
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
