<div class="d-flex bd-highlight" style="background-color: #F5F5F5;">

  <div class="p-2 bd-highlight">
    <mat-card>
      <!--<div style="height: 100%; background: #673ab7;"></div>-->

      <div class="d-flex flex-row align-items-center">
        <mat-card-header>
          <div mat-card-avatar class="profile-picture"> </div>
          <mat-card-title>@username</mat-card-title>
          <mat-card-subtitle>Age</mat-card-subtitle>

        </mat-card-header>
      </div>

      <div class="d-flex flex-row align-items-center justify-content-between"
           style="padding: 2rem 0">
        <div class="d-flex flex-column"><span class="keywords">Wits</span> <span class="number">3</span></div>
        <div class="d-flex flex-column"><span class="keywords">Following</span> <span class="number">100</span></div>
        <div class="d-flex flex-column"><span class="keywords">Followers</span> <span class="number">20</span></div>
      </div>
    </mat-card>

    <mat-form-field>
      <textarea matInput placeholder="What's on your mind?"></textarea>
    </mat-form-field>
    <!----<div
        class="d-flex flex-row align-items-center justify-content-between"
        style="padding: 2rem 0"
      >
      <form>
        <label for"postWit">Post a wit</label>
        <input name="wit"
               type="text"
               placeholder="What's on your mind?"
               required/>
      </form>
    </div>-->
  </div>
  <h1 class="p-2 flex-grow-1 bd-highlight" style="background-color='red'">Timeline</h1>

</div>
