
.witFormat {
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

.witReaction {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.mat-button {
    background-color: white;
}

.profile-picture-wit {
    height: 50px !important;
    width: 50px !important;
}

.mat-form-field {
    width: 100% !important;
}