<div class="d-flex flex-row">
  <mat-card class="d-flex flex-column">
    <div style="height: 100%; background: #673ab7;"></div>

    <div class="d-flex flex-row align-items-center">
      <img
        mat-card-avatar
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Ryan_Gosling_2_Cannes_2011_%28cropped%29.jpg/220px-Ryan_Gosling_2_Cannes_2011_%28cropped%29.jpg"
        alt="Profile"
        class="profile-picture"
      />

      <span>Ryan Gosling @123</span>
    </div>

    <div
      class="d-flex flex-row align-items-center justify-content-between"
      style="padding: 2rem 0"
    >
      <div class="d-flex flex-column"><span class="keywords">Tweets</span> <span class="number">3</span></div>
      <div class="d-flex flex-column"><span class="keywords">following</span> <span class="number">100</span></div>
      <div class="d-flex flex-column"><span class="keywords">followers</span> <span class="number">20</span></div>
    </div>
  </mat-card>
</div>
