<div class="example-large-box mat-elevation-z4">
    <h3 class="d-flex flex-grow-1">Following</h3>
  <mat-card class="witFormat" *ngFor="let following of listOfFollowing">
    <mat-card-content class="d-flex flex-row align-items-start">

        <app-profile-picture [user]="following"></app-profile-picture>

      <div class="d-flex flex-grow-1 justify-content-between">
        <mat-card-title>{{ following.follow_name }}</mat-card-title>
      </div>
    </mat-card-content>
  </mat-card>
</div>
