<mat-card class="witFormat">
  <div class="d-flex flex-column align-items-start">
    <div
      *ngFor="let wit of wits"
      class="d-flex flex-grow-1 wit-wrapper p-4"
      style="width: 100%"
      (click)="getReplies(wit)"
    >

      <img
        *ngIf="wit.image"
        [src]="wit.image"
        mat-card-avatar
        class="profile-picture profile-picture-wit mr-4"
      />
      <div
        *ngIf="!userData.image"
        mat-card-avatar
        class="default-profile-picture profile-picture profile-picture-wit"
      ></div>
      <div class="d-flex flex-grow-1 flex-column">
        <div class="d-flex flex-row justify-content-between">
          <mat-card-title>{{ wit.username }}</mat-card-title>
          <div class="text-muted">{{ wit.time }}</div>
        </div>
        <div>{{ wit.wit }}</div>

        <!-- button wrapper -->
        <div class="d-flex flex-row">
          <button
            *ngIf="wit.username != userData?.username"
            mat-button
            color="none"
            (click)="stopPropagation($event)"
            (click)="checkIfUserLiked(wit)"
          >
            <fa-icon *ngIf="wit.boolValue === 0" [icon]="faHeart"></fa-icon>
            <fa-icon
              *ngIf="wit.boolValue === 1"
              [icon]="faHeartBroken"
            ></fa-icon>
            <span> {{ wit.numOfLikes }} </span>
          </button>
          <button
            mat-button
            (click)="openListOfLikesDialog(wit)"
            (click)="stopPropagation($event)"
            class="d-flex align-items-center justify-content-between"
            matTooltip="Click to see who liked your post!"
          >
            <fa-icon [icon]="faThumbsUp"></fa-icon>
            <span class="mx-2">{{ wit.numOfLikes }} </span>
          </button>
          <!-- Trash Button -->
          <button
            *ngIf="wit.username == userData?.username"
            mat-button
            color="none"
            (click)="stopPropagation($event)"
            (click)="deleteWit(wit)"
          >
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
