.mat-form-field {
  width: 100% !important;
}

.wit-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.profile-picture {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  border: 2px solid #fff;
  color: #eee;
  background-size: cover;
}

.default-profile-picture {
  background-image: url("../../../../assets/images/profile-placeholder.PNG");
}

.profile-picture-wit {
  height: 50px !important;
  width: 50px !important;
}