.profile-picture-wit {
    height: 50px !important;
    width: 50px !important;
}

.profile-picture {
  border-radius: 50%;
  height: 72px;
  width: 72px;
  border: 2px solid #fff;
  color: #eee;
  background-size: cover;
}

.default-profile-picture {
  background-image: url("../../../../assets/images/profile-placeholder.PNG");
}

  .mat-form-field {
    width: 100% !important;
}

.dialog-wrapper {
  padding: 20px;
}

.wit-text-box {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  width: 100%;
}

.wit-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}