<div class="example-large-box mat-elevation-z4" *ngIf="userWits">
    <!-- here layed the witbox from the timeline, won't be needed on the profile interface -->
    
    <mat-card class="witFormat" *ngFor="let wit of userWits" (click)="openDialogReplies(wit)" class="wit-wrapper">
      <mat-card-content class="d-flex flex-row align-items-start">

        <app-profile-picture [user]="wit"></app-profile-picture>
        <div class="d-flex flex-grow-1 flex-column">
          <div class="d-flex flex-row justify-content-between">
            <mat-card-title>{{ wit.username }}</mat-card-title>
            <div class="text-muted">{{ wit.time }}</div>
          </div>
          <div>{{ wit.wit }}</div>

          <!-- Button wrapper -->
          <div class="d-flex flex-row">
            <button
              *ngIf="wit.username != userLoggedIN[0]?.username"
              mat-button
              color="none"
              (click)="checkIfUserLiked(wit)"
              (click)="stopPropagation($event)"
            >
              <fa-icon *ngIf="wit.boolValue === 0" [icon]="faHeart"></fa-icon>
              <fa-icon
                *ngIf="wit.boolValue === 1"
                [icon]="faHeartBroken"
              ></fa-icon>
              <span> {{ wit.numOfLikes }} </span>
            </button>
            <button
              mat-button
              (click)="openDialogLikes(wit)"
              (click)="stopPropagation($event)"
              class="d-flex align-items-center justify-content-between"
              matTooltip="Click to see who liked your post!"
            >
              <fa-icon [icon]="faThumbsUp"></fa-icon>
              <span class="mx-2">{{ wit.numOfLikes }} </span>
            </button>
            <!-- Trash Button -->
            <button
              *ngIf="wit.username == userLoggedIN[0]?.username"
              mat-button
              color="none"
              (click)="deleteWit(wit)"
              (click)="stopPropagation($event)"
            >
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
