<mat-card>
  <div class="d-flex flex-row align-items-center">
    <mat-card-header>
      <div mat-card-avatar class="profile-picture"></div>
      <mat-card-title *ngIf="userData">{{
        userData[0]?.username
      }}</mat-card-title>
      <mat-card-subtitle *ngIf="userData">{{
        userData[0]?.age
      }}</mat-card-subtitle>
    </mat-card-header>
  </div>

  <div
    class="d-flex flex-row align-items-center justify-content-between"
    style="padding: 2rem 0"
  >
    <div class="d-flex flex-column">
      <span class="keywords">Following</span>
      <span class="number" *ngIf="userData">{{
        userData[0]?.following
      }}</span>
    </div>
    <div class="d-flex flex-column">
      <span class="keywords">Followers</span>
      <span class="number" *ngIf="userData">{{
        userData[0]?.followers
      }}</span>
    </div>
  </div>
</mat-card>